@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Slab', serif;
    background:rgb(2, 2, 2);
    -webkit-font-smoothing:antialiased;
    height: 100vh;
}

h1 , h2,h3,h4,h5,h6{
    margin: 0;
    line-height: 1;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

nav{
    background: teal;
    padding: 1rem 0;
}
nav .inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img{
    width: 5rem;
    height: 4rem;
    border-radius: 10px;
    cursor: pointer;

}
nav .inner button{
    background: chocolate;
    border: none;
    padding: 0.6rem 1rem;
    color:whitesmoke;
    font-size: 14px;
    border: 10px;
    outline: none;
    cursor: pointer;
}

section.profile{
    background-color: rgb(0, 0,0);
    display: flex;
    align-items: center;
    padding: 3rem;
    margin-top: 3rem;
    clip-path: polygon(0 0 , 100% 0 , 100% 80% ,25% 100% , 0 80%);
    padding-bottom: 4rem;
}
section.profile .left{
    display: flex;
    flex: 2;
    align-items: center;
}
.section.profile .right{
    flex: 1;
    margin-top: 3rem;
}
section.profile .left h2{
   color: whitesmoke;
   font-size: 28px;
   font-weight: 600;
   margin-bottom: 1rem;
}

section.profile .left p{
    color: wheat;
    font-size: 14px;
}
section.profile .left .cd-headline.loading-bar .cd-words-wrapper::after{
    background: linear-gradient(to right,rgb(45, 45, 175),rgb(45, 105, 45));
}
section.profile .left p b{
    padding-bottom: 1rem;
    font-weight: 400;

}
section.profile .left img{
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
}
section.profile .left .avtar_block{
    position: relative;
    margin-right: 2rem;
}
section.profile .left .avtar_block span{
    position: absolute;
    right: 4px;
    bottom: 4px;
    background: black;
    width: 32px;
    height: 32px;
    border-radius: 50%;display: flex;
    align-items: center;
    justify-content: center;
    color: cadetblue;
    cursor: pointer;
}
section.profile .right ul.contact{
    list-style-type: none;
    margin-bottom: 1.6rem;
}
section.profile .right ul.contact li{
    color: ghostwhite;
    margin-bottom: .7rem;
    font-size: 14px;
}
section.profile .right ul.contact li i{
    font-size: 18px;
    margin-right: 0.3rem;

}
section.profile .right ul.socials{
    display: flex;
    align-items: center;
}
section.profile .right ul.socials li a{
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: white;
    line-height: 36px;
    text-align: center;

}

section.profile .right ul.socials li {
    list-style-type: none;
    margin-right: 0.8rem;
}

section.profile .right ul.socials li:nth-child(1) a{
    background:rgb(126, 108, 126)
}

section.profile .right ul.socials li:nth-child(2) a{
    background-color: royalblue;

}
section.profile .right ul.socials li:nth-child(3) a{
    background: rgb(155, 43, 43);
}


.section_heading{
    font-size: 16px;
    font-weight: 500;
    color: whitesmoke;
    margin-bottom: 3rem;
    position: relative;
    text-shadow: 0 0 1px rgba(40,54,95,0.1);
}

section{
    padding: 3rem;
}
main{
    background: rgb(37, 37, 92);
}
.section_heading:after{
    content: '';
    height: 3px;
    width: 80px;
    position: absolute;
    top:28px;
    left: 0;
    border: 1px dotted teal;
}

section.about .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16rem;
}
section.about .content h2{
    color: whitesmoke;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 1.6rem;
}
section.about .content p{
    color: wheat;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}
section.about .content .left button{
    background: brown;
    color: white;
    padding: 4px 8px;
    font-size: 12px;
    border: none;
    outline: none;
    line-height: 24px;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 1px;
}
section.about .content .right p{
    line-height: 1.6;
    font-size: 14px;
    color: gray;
    letter-spacing: 1px;
    margin-bottom: 1rem;

}
section.about .content .right p span:nth-child(1){
    width: 130px;
    float: left;
    font-weight: 500;
    padding-right:10px;
    display: block;
    position: relative;
}
section.about .content .right p span:nth-child(2){
    padding-left: 150px;
    display: block;
}
section.about .content .right p span:nth-child(1):after{
    content:':';
    position: absolute;
    right: 0;
    top: 0;
}

section.skills .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

section.skills .content .left{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
section.skills .content .left .heading{
    margin-bottom: 1.5rem;

}
section.skills .content .left .heading i{
    color:rgb(34, 112, 34);
    font-size: 48px;
    margin-bottom: 1rem;
}
section.skills .content .left .heading h5{
    font-size: 16px;
    color: whitesmoke;
}
section.skills .content .left p{
    font-size: 14px;
    color: grey;
}
section.skills .content .left p.center{
    color: white;
}
section.skills .content .left .item{
    margin-bottom: 2.4rem;
    margin-left: 15px;
    position: relative;
}
section.skills .content .left .timeline_wrapper{
    border-left:2px dotted rgb(18, 94, 94)
}
section.skills .content .left .item:after{
    content: '';
    position: absolute;
    left: 0;
    top:5px;
    width: 10px;
    height: 10px;
    border: 2px solid rgb(52, 52, 150);
    border-radius: 50%;
    margin-left: -21px;

}

section.skills .skills_wrapper .skill_box h4{
    color: gray;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1rem;
}

section.skills .skills_wrapper .skill_box{
    margin-bottom: 4rem;
}

section.skills .skills_wrapper .skill_box .progress_wrap{
    background: #20294a;
    height: 6px;
    width: 100%;
    box-shadow: 0px 0px 1px 0.25px #4d79f6;
    border-radius: 10px;
    border: 2px solid #1a253f;
}

section.skills .skills_wrapper .skill_box .progress_wrap .progress_bar{
    display: block;
    height: 100%;
    background: green;
    width: 0;
    position: relative;
    transition: all 1s ease-in-out;
}
section.skills .skills_wrapper .skill_box .progress_wrap .tooltip{
    position: absolute;
    right: -15px;
    top: -30px;
    margin-bottom: 10px;
    color: grey;
    font-size: 16px;
    text-transform: uppercase;
}

section.counter_section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background:rgb(17, 17, 17);
}

section.counter_section > div{
    display: flex;
    align-items: center;
}
section.counter_section >div i{
    font-size: 42px;
    margin-right: 2rem;
}

section.counter_section >div :nth-child(1) i{
    color: indianred;
}
section.counter_section >div :nth-child(2) i{
    color: indianred;
}
section.counter_section >div :nth-child(3) i{
    color: lightcoral;
}
section.counter_section >div h3{
    font-size: 22px;
    font-weight: 600;
    color: lightgrey;
    margin-bottom: 1.4rem;
}
section.counter_section >div h5{
    font-size: 14px;
    font-weight: 500;
    color:white;
    letter-spacing: 1px;
   
}

section.work .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: center;
    grid-gap: 50px;
    
}

section.work .wrapper .portfolio .tabs ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

section.work .wrapper .portfolio .tabs ul li a{
    color: wheat;
    border-bottom: 1px solid transparent;
    font-size: 14px;
    letter-spacing: 2px;

}
section.work .wrapper .portfolio .tabs ul li a.active{
    border-color: turquoise;
    color: teal;
    transition: all .3s ease-in-out;
}

section.work .wrapper .portfolio .portfolio_wrapper{
    margin-top: 4rem;
     /* display: grid;
    grid-template-columns: repeat(3,1fr);  */
    display: flex;
}
section.work .wrapper .portfolio .portfolio_wrapper .item{
   flex: 0 0 33.333333%;
   max-width: 33.333333%;
}
section.work .wrapper .portfolio .portfolio_wrapper a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    justify-content: space-between;
}

section.work .wrapper .slider_wrapper .icon_wrap{
    color: slategrey;
    font-size: 32px;
    text-align: center;
}
section.work .wrapper .slider_wrapper .slider .slide p{
    color: whitesmoke;
    line-height: 1.6;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 1rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
}
section.work .wrapper .slider_wrapper .slider .slide img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

section.work .wrapper .slider_wrapper .slider .slide h2{
    font-size: 16px;
    color: white;
    margin-top: 1rem;
    letter-spacing: 1px;
    font-weight: 400;
}
section.work .wrapper .slider_wrapper .slider .slide h6{
    color: gray;
    margin-top: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
}

section.work .wrapper .slider_wrapper .slider .slide{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.work .wrapper .slider_wrapper{
    overflow: hidden;
}

section.partner .brands_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section.partner .brands_wrapper img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

section.contact .wrapper{
    display: grid; 
    grid-template-columns: 1fr 2fr;
    grid-gap:60px;
    margin-top: 40px;
    align-items: center;

}
section.contact .wrapper .left > div{
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
}

section.contact .wrapper .left > div div:nth-child(1){
    margin-right: 1rem;

}
section.contact .wrapper .left i{
    font-size: 28px;
    color: rgb(38, 38, 136); 
}
section.contact .wrapper .left h4{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}
section.contact .wrapper .left {
    color: rgb(74, 118, 119);
}

section.contact .wrapper .left h4 + span{
    font-weight: 100;
    font-size: 13px;
}

section.contact .wrapper .right .form_group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:30px;
    align-items: center;
    margin-bottom: 1.4rem;
}
section.contact .wrapper .right .form_group>div{
    display: flex;
    flex-direction: column;

}

section.contact .wrapper .right .form_group >div label{
    color: rgb(77, 114, 116);
    margin-bottom: 8px;
}
section.contact .wrapper .right .form_group >div input,section.contact .wrapper .right .form_group.textarea_wrapper textarea{
    padding: 13px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid blue;
    color: wheat;
    font-size: 16px;
    letter-spacing: 1.4px;
}
section.contact .wrapper .right .form_group > div input:focus,section.contact .wrapper .right .form_group.textarea_wrapper textarea:focus{
    border-color: rgb(104, 33, 170);
    outline: none;
}
section.contact .wrapper .right .form_group.textarea_wrapper{
    display: block;
    width: 100%;
}

section.contact .wrapper .right button{
    background: brown;
    border: none;
    padding: 1rem 2rem;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease-in;
}
section.contact .wrapper .right button:hover{
    background: teal;
    color: whitesmoke;
}


/* Responsive code */

@media (max-width:1280px){
    .container{
        max-width: 90%;

    }
}

@media (max-width:1024px){
    section.profile{
        flex-direction: column;
        align-items: flex-start;
        clip-path: none;
    }

    .section.profile .left{
        margin-bottom: 2rem;
    }
    .section.profile .right{
        align-self: flex-end;
    }
    section.work .wrapper{
        display: block;
    }
    section.work .wrapper .slider_wrapper{
        margin-bottom: 8rem;
    }
    section.partner {
        margin-top: 4rem;
    }
}

@media(max-width : 970px){
    section.skills .content{
        display: block;
    }
    section.skills .content .left{
        margin-bottom: 6rem;
    }
    section.partner .brands_wrapper{
        flex-wrap: wrap;
    }
    section.partner .brands_wrapper img{
        margin-bottom: 2rem;
    }

}

@media(max-width:768px){
    section.about .content{
        display: block;
    }
    section.about .content .left{
        margin-bottom: 5rem;
    }
    section.contact .wrapper{
        display: block;
    }
    section.contact .wrapper .left{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    section.counter_section{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    section.counter_section > div{
        margin-bottom: 2rem;

    }
}

@media (max-width:576px){
   section.profile{
       align-items: center;
   }

   section.profile .right{
       align-self: center;
   }
   section.profile .left{
       margin-bottom: 5rem;
   }
   section.work .wrapper .portfolio .tabs ul{
       flex-wrap: wrap;
   }
   section.work .wrapper .portfolio .tabs ul li{
       margin-bottom: 2.5rem;
   }
   section.work .wrapper .portfolio .portfolio_wrapper{
       margin-top:0;
   }
   section.contact .wrapper .right .form_group{
       grid-template-columns: 1fr;
   }

}
